.form-container {
    width: 350px;
    margin: 0 auto;
    border: 1px solid #95A0A7;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.form-title {
    font-size: 35px;
    color: #2A414F;
    font-weight: 400;
}

.input-group{
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-left: 5px;
}

.input-group input {
    width: 315px;
    height: 45px;
    border: 1px solid #c3c9cd;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 24px;
    padding-left: 5px;
}

.form-submit{
    width: 315px;
    height: 45px;
    background-color: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.form-submit:hover{
    background-color: rgba(228, 221, 210, 0.5);
}

.form-link{
    color: #ff0077;
    text-decoration: none;
}