.cnav a {
    width: 26px;
    margin-right: 12px;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    text-transform: capitalize;
}
.cnav a:hover{
    border-bottom: 2px solid rgb(23, 77, 213);

}
.navclas{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.navborder{
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}